body {
  margin: 0;
  padding: 0;
}

#Hero-Section {
  background-image: url("../img/Ruben_fondo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 570px;
}

#Portafolio .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.information {
  list-style: none;
}
