body {
  margin: 0;
  padding: 0;
}

#Mi-perfil {
  background-image: url("../img/Ruben_fondo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.information {
  list-style: none;
}
